@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
figure,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
main,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
  white-space: normal;
  border: 0;
  outline: 0;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ,
    Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #444;
  text-size-adjust: 100%;
  background: #fff;
}

a{
  text-decoration: none;
}

h1 {
  font-size: 3.4rem;
  font-weight: bold;
}

h2{
  font-size: 2rem;
  font-weight: bold;
}

h3{
  font-size: 1.6rem;
  font-weight: bold;
}

h4{
  font-size: 1.4rem;
  font-weight: bold;
}

p{
  padding-top: 10px;
  font-weight: bold;
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 45%;
  }
}
